<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <%= content_tag :body, loco_body_data do %>
    <%= yield %>
  <% end %>
</html>
